<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tlg.bot.mapper.AccountMapper">

    <resultMap id="account" type="tlg.bot.models.Account">
        <id property="id" column="id"/>
        <result property="telegramID" column="telegram_id"/>
        <result property="first_name" column="first_name"/>
        <result property="last_name" column="last_name"/>
        <result property="username" column="username"/>
    </resultMap>

    <insert id="insert" parameterType="tlg.bot.models.Account" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userlist (telegram_id, first_name, last_name, username)
        VALUES (#{telegramID}, #{first_name}, #{last_name}, #{username});
    </insert>

</mapper>